---
title: Ihr IT-Consultant in Berlin
type: page
contextData: home
---

{{#extend "lyt-default"}}
	{{#content "main"}}

		{{#with sections.itSolutions}}
		{{! WrapWith START: Teaser Section }}
			{{#wrapWith "c-section"
			            headline=content.headline
			            subline=content.subline
			}}
			{{! WrapWith START: Grid }}
				{{#wrapWith "u-grid-row" settings=this.settings}}
					{{#each content.teasers}}
					{{! WrapWith START: Grid Col }}
						{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-4"}}
							{{> (lookup . 'partial') }}
						{{/wrapWith}}
					{{! WrapWith END: Grid Col }}
					{{/each}}
				{{/wrapWith}}
			{{! WrapWith END: Grid }}
			{{/wrapWith}}
		{{! WrapWith END: Teaser Section }}
		{{/with}}


		{{#with sections.map}}
			{{#wrapWith "c-section" settings=settings content=content}}
				<iframe src="https://snazzymaps.com/embed/34247" width="100%" height="300px"
				        style="border:none;"></iframe>
			{{/wrapWith}}
		{{/with}}

		{{#with sections.businessGoals}}
			{{#wrapWith "c-section" headline=content.headline}}
			{{! WrapWith START: Grid }}
				{{#wrapWith "u-grid-row" settings=this.settings}}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-6"}}
						{{> c-text content.textLeft}}
					{{/wrapWith}}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-6"}}
						{{> c-text content.textRight}}
					{{/wrapWith}}
				{{/wrapWith}}
			{{! WrapWith END: Grid }}
			{{/wrapWith}}
		{{/with}}

		{{#with sections.support}}
			{{#wrapWith "c-section" settings=settings content=content}}
				{{> c-iconizer }}
			{{/wrapWith}}
		{{/with}}

		{{#with sections.servicePackages}}
			{{#wrapWith "c-section"
			            settings=settings
			            content=content
			            headline=content.headline
			            subline=content.subline
			}}
				{{#wrapWith "u-grid-row" settings=content.grid.settings}}
					{{#each content.servicePlans}}
						{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-6 is-col-tablet-l-3"}}
							{{> c-service-plan }}
						{{/wrapWith}}
					{{/each}}
				{{/wrapWith}}

			{{/wrapWith}}
		{{/with}}
	{{/content}}
{{/extend}}
