<div class="c-service-plan{{#if
		settings.servicePlanContextClass}}--{{settings.servicePlanContextClass}}{{else}}--default{{/if}}{{#if
		settings.servicePlanClasses}} {{settings.servicePlanClasses}}{{/if}}"
     data-css="c-service-plan">
	<h3 class="service-plan__headline">
		{{#if settings.plusPlan}}
			<i class="fa fa-star-o" aria-hidden="true"></i>
		{{/if}}
		{{content.headline}}
	</h3>
	<ul class="service-plan__list">
		{{#each content.items}}
			<li class="service-plan__list-item">{{this}}</li>
		{{/each}}
	</ul>
</div>
