/* ===================================================
BASE
=================================================== */

/* ---------------------------------------------------
Global styles
--------------------------------------------------- */
html {
	font-size: 62.5%;
	height: 100%;

	@include bp($bp-tablet-l) {
		font-size: 54.5%;
	}
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: $color-text;
}

// styling of console output element (triggered by parameter 'devmode' and 'logger' in url)
.js-logger {
	position: fixed;
	right: 20px;
	bottom: 20px;
	left: 20px;
	color: #fff;
	height: calc(100% / 6);
	background-color: rgba(0, 0, 0, .9);
	padding: 20px;
	font-size: 14px;
	overflow-y: auto;
	z-index: 9999;
	border-radius: 10px;
	border: 10px solid red;
}