/* ===================================================
component: logo
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-logo"] {
	.logo__image {
		min-width: 310px;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-logo--default {
}