
<div class="c-logo{{#if settings.logoContextClass}}--{{settings.logoContextClass}}{{else}}--default{{/if}}{{#if settings.logoClasses}} {{settings.logoClasses}}{{/if}}"
     data-css="c-logo">
	<img class="logo__image" src="{{@root.assets}}img/logo.svg" alt="Logo">
</div>
