/* ===================================================
component: iconizer
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-iconizer"] {
	color: $color-white;
	font-size: 7rem;
	text-align: center;
	font-weight: 200;
	font-family: $font-family;
	width: 250px;
	height: 250px;
	border: 4px solid $color-white;
	border-radius: 50%;
	position: relative;
	background-color: rgba($color-secondary, 1);

	@include bp($bp-mobile-l) {
		width: 150px;
		height: 150px;
		border: 2px solid $color-white;
		font-size: 5rem;
	}

	&::before {
		@include pseudo;

		position: absolute;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 3px;
		height: 120px;
		background-color: $color-white;

		@include bp($bp-mobile-l) {
			height: 70px;
		}
	}

	.iconizer__content-wrapper {
		@include centering(hv)
	}

	.iconizer__sub {
		font-size: 2.7rem;
		font-weight: 900;
		margin-top: -1.5rem;

		@include bp($bp-mobile-l) {
			font-size: 2.2rem;
			margin-top: -1rem;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-iconizer--default {
}