/* ===================================================
component: toggler
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-toggler"] {
	position: absolute;
	margin: 1rem 1rem 1rem 2rem;
	top: .5rem;
	right: 0;

	@include media('>tablet-p') {
		display: none;
	}

	.toggler__link {
		@include reset-btn;
		transform: rotate(0deg);
		transition: all .5s ease-in-out;

		width: 33px;
		height: 32px;
		display: block;
		position: relative;
		cursor: pointer;
	}

	.toggler__icon-wrapper {
		.toggler__icon {
			transform: rotate(0deg);
			transition: all .25s ease-in-out;

			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: $color-white;
			opacity: 1;
			left: 0;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 14px;
			}

			&:nth-child(3) {
				top: 28px;
			}
		}
	}

	.toggler__text {
		@include hidden-text;
	}

	.is-active .toggler__icon {
		&:nth-child(1) {
			transform: rotate(135deg);

			top: 12px;
		}

		&:nth-child(2) {
			opacity: 0;
			left: -60px;
		}

		&:nth-child(3) {
			transform: rotate(-135deg);

			top: 12px;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-toggler--default {
}