<div class="c-logo-invers{{#if settings.logoInversContextClass}}--{{settings.logoInversContextClass}}{{else}}--default{{/if}}{{#if settings.logoInversClasses}} {{settings.logoInversClasses}}{{/if}}"
     data-css="c-logo-invers">
	<a href="/">
		<img src="{{@root.assets}}img/Logo_vers-it-invers.png" alt="" width="120px">
	</a>
</div>
