/* ===================================================
COMPONENT: PICTURE
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-picture"] {
	position: relative;
	display: block;

	/*
	Modifiers
	----------------------- */
	&.is-top-layer {
		&::before {
			@include pseudo();

			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color-white, .6);
			background-blend-mode: overlay;
			z-index: 1;
		}
	}

	.picture__image {
		max-width: 100%;
		overflow: hidden;
		transition: filter 300ms ease;
		display: block;

		&.lazyloading,
		&.lazyload {
			width: 100%;
			filter: blur(10px);
		}

		&.lazyloaded {
			filter: blur(0);
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-picture--default {
}


/* ---------------------------------------------------
Context: Article
--------------------------------------------------- */
.c-picture--article {
	margin-bottom: 2rem;
}
