---
title: Services von versIT
type: page
contextData: services
---

{{#extend "lyt-default"}}
	{{#content "stage"}}
		{{#with stage}}
			{{> stage-small }}
		{{/with}}
	{{/content}}
	{{#content "main"}}

		{{#with sections.servicePackages}}
			{{#wrapWith "c-section"
			            settings=settings
			            content=content
			            headline=content.headline
			            subline=content.subline
			}}
				{{#wrapWith "u-grid-row" settings=content.grid.settings}}
					{{#each content.servicePlans}}

						{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-6 is-col-tablet-l-3"}}
							{{> c-service-plan }}
						{{/wrapWith}}

					{{/each}}
				{{/wrapWith}}

			{{/wrapWith}}
		{{/with}}

		{{#with sections.services}}
			{{#wrapWith "c-section"
			            settings=settings
			            content=content
			            headline=content.headline
			            subline=content.subline
			}}
				{{#wrapWith "u-grid-row" settings=content.grid.settings}}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-6"}}
						{{> c-picture content.picture}}
					{{/wrapWith}}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-6"}}
						{{> c-rte content.rte}}
					{{/wrapWith}}
				{{/wrapWith}}
			{{/wrapWith}}
		{{/with}}

		{{#with sections.consulting}}
			{{#wrapWith "c-section"
			            settings=settings
			            content=content
			            headline=content.headline
			            subline=content.subline
			}}
				{{#wrapWith "u-grid-row" settings=content.grid.settings}}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-6"}}
						{{> c-rte content.rte}}
					{{/wrapWith}}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-6"}}
						{{> c-picture content.picture}}
					{{/wrapWith}}
				{{/wrapWith}}
			{{/wrapWith}}
		{{/with}}

		{{#with sections.experts}}
			{{#wrapWith "c-section"
			            settings=settings
			            content=content
			            headline=content.headline
			            subline=content.subline
			}}
				{{#wrapWith "u-grid-row" settings=content.grid.settings}}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-6"}}
						{{> c-picture content.picture}}
					{{/wrapWith}}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-6"}}
						{{> c-rte content.rte}}
					{{/wrapWith}}
				{{/wrapWith}}
			{{/wrapWith}}
		{{/with}}



		{{#with sections.support}}
			{{#wrapWith "c-section"
			            settings=settings
			            content=content
			}}
				{{> c-iconizer }}
			{{/wrapWith}}
		{{/with}}

	{{/content}}
{{/extend}}
