/* ===================================================
component: section
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-section"] {
	padding: 4rem 0;
	margin-bottom: 4rem;
	position: relative;

	/*
	Modifiers
	----------------------- */
	&.is-border {
		.section__header {
			&::before {
				@include pseudo;

				position: absolute;
				left: 50%;
				transform: translateX(-50%) translateY(-130%);
				width: 3px;
				height: 70px;
				background-color: $color-primary;
			}
		}
	}

	&.isnt-padding {
		padding: 0;
	}

	.is-absolute {
		@include centering(hv);

		z-index: 10;
	}

	/*
	Elements
	----------------------- */
	.section__header {
		padding: 2rem;
		margin-bottom: 2rem;
		position: relative;
	}

	.section__h2 {
		font-size: 4.5rem;
		font-family: $font-family;
		font-weight: 500;
		text-align: center;
	}
	.section__h3 {
		font-size: 3rem;
		font-family: $font-family;
		font-weight: 300;
		text-align: center;
		max-width: 950px;
		margin: 0 auto;
	}

	.section__media {
		position: relative;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-section--default {
}