<div class="c-section{{#if options.settings.sectionContextClass}}--{{options.settings.sectionContextClass}}{{else}}--default{{/if}}
	{{#if options.settings.sectionClasses}} {{options.settings.sectionClasses}}{{/if}}{{#unless options.settings.hideLine}} is-border{{/unless}}"
     data-css="c-section">

	{{#if options.headline}}
		<div class="section__header is-container">
			<h2 class="section__h2">{{this.options.headline}}</h2>
			<h3 class="section__h3">{{this.options.subline}}</h3>
		</div>
	{{/if}}

	{{#if options.content.bgMedia}}
		<div class="section__media">
			{{> c-picture options.content.bgMedia}}
		</div>
	{{/if}}

	<div class="{{#unless options.settings.fullWidth}}is-container{{else}}is-full-width{{/unless}}
		{{#if options.settings.contentClasses}} {{options.settings.contentClasses}}{{/if}}">
		{{{yield}}}
	</div>

	{{#if options.footer}}
		<div class="section__footer is-container">
		</div>
	{{/if}}
</div>
