<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<head>
	{{#block "metadata"}}
		{{> _metadata }}
	{{/block}}
	{{#block "styles"}}
		{{> _styles }}
	{{/block}}
</head>

<body class="{{bodyclass}}">
<div class="page-wrapper">
	<div class="page-top">
		<header class="r-header">
			<div class="header__inner">
				<div class="header__left">
					{{> logo-invers }}
				</div>
				<div class="header__right">
					<nav class="r-navigation">
						{{> c-navigation }}
					</nav>
				</div>

				<div class="header__nav">
					{{> toggler }}
				</div>
			</div>
		</header>

		<div class="r-stage">
			{{#block "stage"}}
				{{> c-particles }}
			{{/block}}
		</div>
		{{#is this.contextData "home"}}
			<div class="r-stage-content">
				{{> c-logo }}
			</div>
		{{/is}}
	</div>
	{{#block "main"}}{{/block}}
</div>
<!-- Scripts
================================================== -->
{{#block "scripts"}}
	{{> _scripts }}
{{/block}}
</body>
</html>