/* ===================================================
Layout Styles
=================================================== */


.page-top {
	position: relative;
}

.r-stage-content {
	@include centering(hv);
}

.r-header {
	position: fixed;
	background-color: rgba($color-primary, .9);
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;

	.header__inner {
		max-width: 980px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media('<tablet-p') {
			display: block;
			align-items: baseline;
			text-align: center;
		}
	}

	.header__left {

	}

	.header__right {
		width: 100%;
		text-align: right;
	}
}