<div class="c-toggler{{#if settings.togglerContextClass}}--{{settings.togglerContextClass}}{{else}}--default{{/if}}{{#if
		settings.togglerClasses}} {{settings.togglerClasses}}{{/if}}"
     data-css="c-toggler">

	<button class="toggler__link" data-js-module="cta" data-js-options='{"globalEvent": "navigation:toggle"}'>
		<span class="toggler__text"> Menü </span> <span class="toggler__icon-wrapper">
		<span class="toggler__icon"> </span> <span class="toggler__icon"></span> <span class="toggler__icon"></span>
	</span>    </span> </button>

</div>
