<div class="c-iconizer{{#if
		settings.iconizerContextClass}}--{{settings.iconizerContextClass}}{{else}}--default{{/if}}{{#if
		settings.iconizerClasses}} {{settings.iconizerClasses}}{{/if}}"
     data-css="c-iconizer">

	<div class="iconizer__content-wrapper">
		<div class="iconizer__content">
			24/7
		</div>
		<div class="iconizer__sub">
			Support
		</div>
	</div>
</div>
