/* ===================================================
component: service-plan
=================================================== */

/* ---------------------------------------------------
Variables
--------------------------------------------------- */
$service-plan-color-border: rgba($color-text-light, .3);

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-service-plan"] {
	border: 1px solid rgba($color-text-light, .5);
	display: block;
	height: 100%;
	padding: 2rem 1rem 0 1rem;
	position: relative;
	text-align: center;
	margin-bottom: 2rem;

	&::before {
		@include pseudo;

		left: 0;
		top: 0;
		width: 100%;
		height: 10px;
		background-color: $color-primary;
	}

	.service-plan__headline {
		font-family: $font-family;
		font-weight: 500;
		font-size: 2rem;
		margin: 1rem 0 2rem;
	}

	.service-plan__list-item {
		padding: 1rem;
		border-bottom: 1px solid $service-plan-color-border;
		font-family: $font-family;
		font-weight: 200;

		&:first-child {
			border-top: 1px solid $service-plan-color-border;
		}

		&:last-child {
			border-bottom: none 0;
		}
	}

	/*
	Modifiers
	----------------------- */
	&.is-blue {
		&::before {
			@include pseudo;

			left: 0;
			top: 0;
			width: 100%;
			height: 10px;
			background-color: $color-secondary;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-service-plan--default {
}