
/* ===================================================
VEAMS SETTINGS
=================================================== */
$min-width: false; // This variable will be used in veams-sass
$max-width: 1404px;

/* ===================================================
BREAKPOINT SETTINGS
=================================================== */
// Breakpoints
$bp-mobile-s: 0px;
$bp-mobile-p: 480px;
$bp-mobile-l: 600px;
$bp-mobile-xl: 680px;
$bp-tablet-p: 770px;
$bp-tablet-l: 1024px;
$bp-desktop-m: 1230px;
$bp-desktop-l: $max-width;


// Breakpoints Map
$breakpoints: (
	'mobile-s': $bp-mobile-s,
	'mobile-p': $bp-mobile-p,
	'mobile-l': $bp-mobile-l,
	'mobile-xl': $bp-mobile-xl,
	'tablet-p': $bp-tablet-p,
	'tablet-l': $bp-tablet-l,
	'desktop-m': $bp-desktop-m,
	'desktop-l': $bp-desktop-l
);

$grid-breakpoints-defaults: (
	'mobile-s': (
		columns: 12,
		gutter: 20px,
		media: $bp-mobile-s
	),
	'mobile-l': (
		columns: 12,
		gutter: 20px,
		media: $bp-mobile-l
	),
	'mobile-xl': (
		columns: 12,
		gutter: 20px,
		media: $bp-mobile-xl
	),
	'tablet-p': (
		columns: 12,
		gutter: 20px,
		media: $bp-tablet-p
	),
	'tablet-l': (
		columns: 12,
		gutter: 20px,
		media: $bp-tablet-l
	),
	'desktop-m': (
		columns: 12,
		gutter: 20px,
		media: $bp-desktop-m
	)
) !default;


/* ---------------------------------------------------
Colors
--------------------------------------------------- */
$color-white: #fff;
$color-text: #333;
$color-text-light: #a9a9a9;
$color-primary: #95c11f;
$color-secondary: #2d2e83;

/* ---------------------------------------------------
Fonts
--------------------------------------------------- */
$font-family: 'Montserrat', serif;
$font-family2: 'Arvo', serif;
$font-family3: 'Cabin', sans-serif;
$font-family4: 'PT Sans Caption', sans-serif;

