/* ===================================================
component: particles
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-particles"] {
	position: relative;

	.particles__canvas {
		background-image: url('../img/stage/chip@1920.jpg');
		background-size: cover;
		background-position: center left;
		height: 650px;
		background-color: rgba($color-white, .6);
		background-blend-mode: overlay;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-particles--default {
}