<div class="c-particles{{#if settings.particlesContextClass}}--{{settings.particlesContextClass}}{{else}}--default{{/if}}{{#if settings.particlesClasses}} {{settings.particlesClasses}}{{/if}}"
     data-css="c-particles"
     data-js-module="particles"{{#if settings.particlesJsOptions}}
     data-js-options='{{stringify settings.particlesJsOptions}}'{{/if}}>
	<div data-js-item="particles-canvas" class="particles__canvas"></div>
</div>
