---
type: utility
contextData: grid-bp
layout: "lyt-docs"
scssFiles:
  - _u-grid.scss
subTemplates:
  - u-grid-row.hbs
  - u-grid-col.hbs
displayName: "u-grid"
publish: false
---
{{! WrapWith START: Grid Row }}
{{#wrapWith "u-grid-row" settings=this.settings}}
	{{#times content.repeats}}
		{{! WrapWith START: Col }}
		{{#wrapWith "u-grid-col" colClasses=../settings.colClasses }}
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur corporis cum, deleniti dignissimos ducimus ea eligendi, fugiat fugit illum molestias natus necessitatibus perferendis quasi quidem reiciendis similique ullam voluptatum!
		{{/wrapWith}}
	{{! WrapWith END: Col }}
	{{/times}}
{{/wrapWith}}
{{! WrapWith END: Grid Row }}