<div class="c-stage-small{{#if settings.stageSmallContextClass}}--{{settings.stageSmallContextClass}}{{else}}--default{{/if}}{{#if settings.stageSmallClasses}} {{settings.stageSmallClasses}}{{/if}}"
     data-css="c-stage-small">
	{{> c-picture content.picture}}
</div>
