---
title: Über Uns
type: page
contextData: 'contact'
---

{{#extend "lyt-default"}}
	{{#content "stage"}}
		<iframe src="https://snazzymaps.com/embed/34247" width="100%" height="600px" style="border:none;"></iframe>
	{{/content}}
	{{#content "main"}}
		{{#with sections.contact}}
		{{! WrapWith START: Teaser Section }}
			{{#wrapWith "c-section"
			            headline=content.headline
			            subline=content.subline
			}}
			{{! WrapWith START: Grid }}
				{{#wrapWith "u-grid-row" settings=this.settings}}
				{{! WrapWith START: Grid Col }}
					{{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-mobile-xl-4 is-col-mobile-xl-offset-4"}}
						{{> c-icon-teaser this.content.teaser}}
					{{/wrapWith}}
				{{! WrapWith END: Grid Col }}
				{{/wrapWith}}
			{{/wrapWith}}
		{{/with}}
	{{/content}}
{{/extend}}
