/* ===================================================
component: icon-teaser
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-icon-teaser"] {
	padding: 2rem 4rem;
	background-color: transparent;
	text-align: center;
	transition: background-color ease 300ms;
	height: 100%;
	display: flex;
	flex-direction: column;

	@include media("<tablet-p") {
		display: block;
		height: auto;
	};

	&:hover {
		background-color: $color-secondary;

		.icon-teaser__headline,
		i,
		.icon-teaser__content {
			color: $color-white;
		}
	}

	.icon-teaser__headline {
		font-family: $font-family;
		font-weight: 600;
		font-size: 3rem;
		margin-bottom: 3rem;
	}

	i {
		font-size: 7rem;
		display: block;
		margin-bottom: 1rem;
		color: $color-secondary;
	}

	.icon-teaser__content {
		font-size: 1.45rem;
		color: $color-text-light;
	}

	.icon-teaser__link {
		margin-top: auto;

		@include media("<tablet-p") {
			margin-top: 1rem
		};
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-icon-teaser--default {
}