<div class="c-icon-teaser{{#if
		settings.iconTeaserContextClass}}--{{settings.iconTeaserContextClass}}{{else}}--default{{/if}}{{#if
		settings.iconTeaserClasses}} {{settings.iconTeaserClasses}}{{/if}}"
     data-css="c-icon-teaser">

	<h3 class="icon-teaser__headline"><i class="fa fa-{{content.icon}}"></i>{{content.headline}}</h3>

	<div class="icon-teaser__content">
		{{#with content.rte}}
			{{> c-rte this}}
		{{/with}}
	</div>

	{{#with content.cta}}
		<div class="icon-teaser__link">
			{{#wrapWith "c-cta" settings=this.settings content=this.content}}
				{{> c-cta__content this.content}}
			{{/wrapWith}}
		</div>
	{{/with}}
</div>
