/* ===================================================
RTE COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */

[data-css="c-rte"] {

	/*
	Headlines
	----------------------------- */
	h1 {
	}

	h2 {
	}

	h3 {
	}

	h4 {
	}

	/*
	Paragraph
	----------------------------- */
	p {
		margin-bottom: 1rem;

		&:last-child {
			margin: 0;
		}
	}

	strong, b {
		font-weight: 700;
	}

	em,
	i {
		font-style: italic;
	}

	/*
	Lists
	----------------------------- */
	ul,
	ol {
	}

	ul {
	}

	ol {
	}

	/*
	Tables
	----------------------------- */
	table {
		th {
		}
		td {
		}
	}

	/*
	Others
	----------------------------- */
	hr {
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-rte--default {
}

/* ---------------------------------------------------
Context: Article
--------------------------------------------------- */
.c-rte--article {
	font-size: 1.7rem;
	line-height: 1.75;
	font-family: $font-family;
	margin-bottom: 2rem;

	p {
		margin-bottom: 2rem;
	}
}