/* ===================================================
component: navigation
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-navigation"] {
	max-width: $max-width;
	margin: 0 auto;

	@include media('<=tablet-p') {
		display: none;
	}

	/*
	Modifiers
	----------------------- */
	&.is-active {
		display: block;
	}

	/*
	Elements
	----------------------- */
	.navigation__list {
		display: flex;
		flex-flow: row;
		align-items: stretch;
		width: 100%;

		@include media('<=tablet-p') {
			flex-flow: column;
		}
	}

	.navigation__list-item {
		flex: 1;
		text-align: center;
	}

	.navigation__list-link {
		font-family: $font-family;
		display: block;
		text-align: center;
		color: $color-white;
		text-decoration: none;
		font-size: 2.8rem;
		font-weight: 500;
		background-color: rgba($color-secondary, 0);
		border: 2px solid transparent;
		transition: background-color ease 400ms;
		padding: 1rem 2rem;
		margin: 0 1.5rem;
		text-shadow: 0 0 15px rgba(#000, .3);
		position: relative;

		@include media('<=tablet-p') {
			margin: 0 1rem;
			font-size: 2.3rem;
		}

			&:hover {
			text-shadow: none;

			&::after {
				opacity: 1;
			}

		}

		&::after {
			@include pseudo;

			width: 100%;
			height: 3px;
			background-color: $color-secondary;
			bottom: -4px;
			left: 0;
			opacity: 0;
			transition: opacity 400ms ease-in-out;
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-navigation--default {
}