<div class="c-navigation{{#if
		settings.navigationContextClass}}--{{settings.navigationContextClass}}{{else}}--default{{/if}}
	{{#if settings.navigationClasses}} {{settings.navigationClasses}}{{/if}}"
     data-css="c-navigation" data-js-module="navigation">
	<ul class="navigation__list">
		<li class="navigation__list-item">
			<a href="/" class="navigation__list-link">
				Home
			</a>
		</li>
		<li class="navigation__list-item">
			<a href="/service/" class="navigation__list-link">
				Service
			</a>
		</li>
		<li class="navigation__list-item">
			<a href="/ueber-uns/" class="navigation__list-link">
				Über Uns
			</a>
		</li>
		<li class="navigation__list-item">
			<a href="/kontakt/" class="navigation__list-link">
				Kontakt
			</a>
		</li>
	</ul>
</div>