<div class="c-text{{#if settings.textContextClass}}--{{settings.textContextClass}}{{else}}--default{{/if}}{{#if
		settings.textClasses}} {{settings.textClasses}}{{/if}}"
     data-css="c-text">
    {{content.text}}
</div>
