/* ===================================================
CTA COMPONENT
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-cta"] {
	.cta__icon {
	}
	.cta__content {
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-cta--default {
}

/* ---------------------------------------------------
Context: Icon Teaser
--------------------------------------------------- */
.c-cta--icon-teaser {
	display: inline-block;
	padding: 1rem 3rem;
	background-color: rgba($color-primary, 0.9);
	color: $color-white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font-family;
	font-size: 1.35rem;
	font-weight: 700;
	margin: 3rem 0 1rem;
}