<link rel="stylesheet" href="{{@root.assets}}css/app.css"/>
<script src="https://use.fontawesome.com/1df7c12a1d.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
