/* ===================================================
component: text
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-text"] {
	color: $color-text-light;

	/*
	Modifiers
	----------------------- */
	&.is-centered {
		text-align: center;
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-text--default {
}